<body style="background-color:oldlace;">
<%= link_to 'Search Users', search_user_path %>
    <ol>
        <% @users.each do |user| %>
            <li>
                <%= user.first_name + " " + user.last_name %>
                <%= user.email %>  
                 <%= user.dob %>
                 
                  <%# <img src=<%= @user.avatar %>
                <%#= link_to "Show profile", profile_path(user) %>

            </li>
            <br />
        <% end %>
        <%= link_to 'Home Page', root_path %>
    </ol>
</div>