<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Needed Amount:</strong>
    Rs <%= event.Amount %>
  </p>

  <p>
    <strong>Already Raised Amount:</strong>
    Rs <%= event.raised_amount %>
  </p>


  <p>
    <strong>Date:</strong>
    <%=  event.date %>
  </p>

    <p>
    <strong>Exp Date:</strong>
    <%= event.expiry_date %>
  </p>
    <%# <%= Date.new(event.date.year,event.date.month,event.date.day) %> 
  
  </p>



</div>
