<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    Rs <%= event.Amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <%# <p>
  <strong>Expiry Date:</strong>
  <%= event.date + 90.days%>
  <%# </p> %> 

 <p>
  <strong>Days To Event:</strong>
  <%= event.days_to_event%>
  </p>
   

</div>
