<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :Amount, style: "display: block" %>
    <%= form.number_field :Amount %>
  </div>

  <div>
    <%= form.label :Date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :Expiry_Date, style: "display: block" %>
    <%= form.date_field :expiry_date %>
  </div>


 <div>
    <%= form.label :Event_Photograph, style: "display: block" %>
    <%= form.file_field :photograph %>
    <div>
    
    </div>    

  </div>
  <% if current_user && current_user.is_admin == true %>
! (Mark Only if you want to make it visible to Users -Either Event is completed or incompleted.)
  <%= form.radio_button :is_visible, 'True' %> Visible to Users<br />
  <div>
    <%= form.label :Status, style: "display: block" %>
    <%= form.select :status,Event::STATUSES %>
    <div>
  
  <%# <%= form.radio_button :is_visible, 'False' %>   
  <%# Hidden from Donator<br />  %>
 <% end %>
  
  <div>
    <%= form.submit %>
  </div>


<% end %>
