<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :Amount, style: "display: block" %>
    <%= form.number_field :Amount %>
  </div>

  <div>
    <%= form.label :Date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>


 <div>
    <%= form.label :Event_Photograph, style: "display: block" %>
    <%= form.file_field :photograph %>
    <div>
    
    </div>
  </div>

  <%= form.radio_button :is_visible, 'True' %> Visible to Donator<br />
  <%= form.radio_button :is_visible, 'False' %> Hidden from Donator<br />

 <div>
 <% if current_user && current_user.is_admin == true %>
    <%= form.label :days_to_event, style: "display: block" %>
    <%= form.number_field :days_to_event %>
    <% end %>
    <div>
  
  <div>
    <%= form.submit %>
  </div>


<% end %>
