<p style="color: green"><%= notice %></p>
<body style="background-color:oldlace;">
<h1>Events</h1>
<div id="events">
  <% @events.each do |event| %>
    <%= render event %> 
    <p>
    <% if current_user %>
    This Event is hosted by <%= event.user.first_name + ' ' + event.user.last_name if event.user %>
    <% end %>
  
  <strong>Status:</strong> 
  <%= event.status %>
    <br>
      <%= link_to "Show this event", event %>
    </p>
    ---------------------------------------------------------
  <% end %>
</div>
<% if current_user  %>
  <%= link_to "New event", new_event_path %> |
<% end %>

  <%= link_to 'Home Page', root_path %>
<%# <%= link_to "Show My Profile", show_path %>
