<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
<%# <%= "(Admin)" if current_user.admin? %> 
<img src=<%= @event.photograph %> /> 
<br>
</br>
  <%= link_to "Back to events", events_path %> |
  <% if current_user && current_user.is_admin == true %>

  <%= link_to "Edit this event", edit_events_by_admin_path(@event) %> 
  <%= button_to "Destroy this event", @event, method: :delete %> 
  <% end %>
<div class="field">
</div>

</div>
